$main-color: #DBC694;
$alt-color: #D18375;
$gutter: 8px;

:host {
  .findwise-button {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    padding: $gutter;
    border-radius: 4px;
    font-size: 1.4em;
    border: none;
    box-shadow: 0 2px 0 $alt-color;
    min-width: 200px;
    min-height: 50px;
    cursor: pointer;
    animation: fade-in 250ms ease-in-out 0ms 1 forwards;

    > .icon, > .text {
      animation: fade-in 500ms ease-in-out 0ms 1 forwards;
    }

    > .icon {
      &.left {
        margin-right: $gutter;
      }

      &.right {
        margin-left: $gutter;
      }
    }
  }

  &:not(:last-child) {
    margin-right: $gutter;
  }

  .spinner {
    position: relative;
    width: 10px;
    height: 10px;
    animation: fade-in 500ms ease-in-out 0ms 1 forwards;

    &.inline {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 20px;
    }

    &::before, &::after {
      display: block;
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }
    &::before {
      background-color: rebeccapurple;
      animation: spin 2000ms ease-in-out 0ms infinite forwards;
    }
    &::after {
      background-color: plum;
      animation: spin 2000ms ease-in-out -1000ms infinite forwards;
    }
  }
}

@keyframes spin {
  0%, 100% {
    transform: translate(-100%, 0%);
  }
  25% {
    transform: translate(0%, 100%);
  }
  50% {
    transform: translate(100%, 0%);
  }
  75% {
    transform: translate(0%, -100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}